body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #222;
}

header {
    background-color: #1f4e79;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

main {
    text-align: center;
    padding: 80px 20px;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}
h2 {
    margin-top: 50px;
    font-size: 30px;
}

.guide-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.guide-card {
    background-color: white;
    width: 220px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.guide-card h3 {
    color: #1f4e79;
}

.guide-card p {
    font-size: 16px;
    line-height: 1.5;
}